@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #09090a;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  /*Um elemento fica em uma ponta, e outro elemento fica na outra ponta*/
  justify-content: space-between;
  padding: 48px;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #e38e00;
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center;
  font-family: "Inter";
  /*Peso da fonte*/
  font-weight: 600;
  /*Tamanho da fonte*/
  font-size: 16px;
  /*Altura da linha */
  line-height: 125%;

  /*Espaço entre. Somente com display flex*/
  gap: 12px;
}
form {
  display: flex;
  padding: 48px;
}
.habits {
  display: flex;
  flex-direction: column;

  gap: 24px;
  margin-top: 60px;
}
.habit {
  width: 64px;
  height: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.days {
  display: flex;
  margin-left: 32px;
  gap: 48px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;
  color: #a1a1aa;
  text-align: center;
}

input {
  /*Tirar a aparência*/
  appearance: none;
  /*Funciona no Safaria*/
  -webkit-appearance: none;
  height: 64px;
  width: 64px;
  border: 2px solid #27272a;
  border-radius: 8px;
  background: #18181b;
}

/*Pseudo Selector*/
/*Quando o botão for "checked", a "ação" que ele tem que fazer é essa:*/
input:checked {
  background: #ffc93b;
  border: 2px solid #f19900;
}
